<div>
    <input type="number" [(ngModel)]="characters" placeholder="Ingresar ID del personaje" />
    <button (click)="getCharacters()">Search</button>
  
    <div class="card-container">
      <div class="card" *ngFor="let character of characters">
        <img [src]="character.image" alt="{{character.name}}">
        <h3>{{ character.name }}</h3>
        <p>Status: {{ character.status }} - {{ character.species }}</p>
        <p>Last known location: {{ character.location.name }}</p>
        <p>First seen in: {{ character.episode[0] }}</p>
        <button (click)="downloadPDF(character)">Download PDF</button>
      </div>
  </div>
  
